body {
    /*Handle fixed header navbar*/
    padding: 60px;
    /*Handle fixed footer*/
    padding-bottom: 80px;
}

.mar-t5px {
    margin-top: 5px;
}

.mar-t10px {
    margin-top: 10px;
}

.w-200px {
    width: 200px !important;
}

.w-250px {
    width: 250px !important;
}

.w-300px {
    width: 300px !important;
}

.inline {
    display: inline;
}

.cursor {
    cursor: pointer;
}

.glyphicon-new-window:hover {
    color: orange;
}

.modal-body {
    word-wrap: break-word;
}

footer {
    border-top: 1px dashed #CCCCCC;
    margin: 20px 0px;
    padding: 15px 0px;
}

.loading {
    background-image: url(../images/ajax_load.GIF);
    display: inline-block;
    width: 31px;
    height: 32px;
    margin-bottom: -11px;
}

.clr-folder {
    color: #FFE20A;
}

.clr-xml {
    color: #FFB173;
}
